.use_cases {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 5008px;
  z-index: 127;
}
.Award_winning_browser_based_VoIP_contact_centre {
  font-size: 32px;
  font-family: "Poppins";
  color: rgb(0, 81, 113);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 1136.957px;
  top: 1523.154px;
  width: 390px;
  height: 437px;
  z-index: 126;
}
.box_copy {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 18px 2px rgba(0, 81, 113, 0.08);
  position: absolute;
  left: 387px;
  top: 1520px;
  width: 652px;
  height: 456px;
  z-index: 123;
}
.cta_copy_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 5008px;
  z-index: 122;
}
.Book_Demo {
  font-size: 14px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  line-height: 1.571;
  text-align: center;
  position: absolute;
  left: 913.937px;
  top: 2051.003px;
  z-index: 121;
}
.cta_bg {
  border-radius: 5px;
  background-color: rgb(233, 77, 106);
  position: absolute;
  left: 877px;
  top: 2040px;
  width: 160px;
  height: 44px;
  z-index: 120;
}
.banner_bg_copy {
  background-image: -moz-linear-gradient( -90deg, rgb(236,244,244) 0%, rgb(246,250,250) 83%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(236,244,244) 0%, rgb(246,250,250) 83%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(236,244,244) 0%, rgb(246,250,250) 83%, rgb(255,255,255) 100%);
  position: absolute;
  left: -64px;
  top: 1416px;
  width: 2026px;
  height: 761px;
  z-index: 118;
}
